html,body,div,h1,h2,p{
    margin: 0;
    padding: 0;
}

body{
    width: 422px;
    height: 660px;
    color: lightgray;
    margin: auto;
}

#header{
    width:100%;
    height: 138px;
    margin: 20px auto;
    position: relative;
}
#header h1{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 70px;
    color: darkgray;    
}
#header > h2{
    position: absolute;
    left: 0;
    top: 100px;
    font-size: 16px;
    color: gray;
}
#header div,p{
    position: absolute;
    right: 0;
    top: 18px;
    background-color: gray;
    width: 70px;
    height: 60px;
    border: gray 1px solid;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
}
#header div span{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

#header #best{
    right:80px;
}

#header p{
    top:88px;
    height:40px;
    width: 110px;
    line-height: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
#header p a{
    color: white;
    text-decoration: none;
}
.game-container{
    width: 420px;
    height: 424px;   
    margin: 0 auto;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 9px;
}

.row{
    width: 100%;
    height: 102px;
    overflow: hidden;
}
.grid{
    text-align: center;
    line-height: 88px;
    font-size: 36px;
    font-weight: bold;
    width: 88px;
    margin: 12px;
    margin-right: 0;
    margin-bottom: 0;
    height: 88px;
    border: 1px solid #918597;
    background: #918597;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
}
.s0{
    color: #918597;
}
.s4{
    background: #6f6d85;
}

.s8{
    background: #594c6d;
}

.s16{
    background: #694d9f;
}

.s32{
    background: #6f599c;
}

.s64{
    background: #8552a1;
}

.s128{
    background: #543044;
}

.s256{
    background: #63434f;
}

.s512{
    background: #7d5886;
}

.s1024{
    background: #401c44;
}
.s2048{
    background: #472d56;
}

@media screen and (max-width: 400px) {
    body,.game-container {
        width: 100%;
        height:100%;
    }
    .grid {
        width: 73px;
        height: 73px;
        line-height: 73px;
        margin-top: 12px;
        font-size: 28px;
    }

    .row{
        height: 87px;
    }

    #header > h2 {
        font-size: 14px;
    }
}